# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=51lyOW2fpI1DczKcZ10+Pw==,VE+07JyXv/hBOkTz8FIk8Q==,P3UxWfCcst5rSg1BxtlOjA==,OgB+pXKQUBuRMTejnDcZGw==
API_TOKEN_SALT=jBhuhmvi5Mx6RKHufiq18w==
ADMIN_JWT_SECRET=xp4kinEjdDjRnr5+BTph6w==
TRANSFER_TOKEN_SALT=PUde6e1QJPqAfABF/hss7A==
ENCRYPTION_KEY=QzIb2xtuh/kTsEcVgvz0Qw==

# Database
DATABASE_CLIENT=postgres
DATABASE_NAME=postgres
DATABASE_FILENAME=
JWT_SECRET=hFqYeey21JhKq6v4JF3B2A==


# work around if the above doesnot work
DATABASE_HOST=aws-1-ap-south-1.pooler.supabase.com
DATABASE_PORT=6543
DATABASE_USERNAME=postgres.ukfmcsmvfemtypjvtcxy
DATABASE_PASSWORD=
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false

# Temp
DATABASE_POOL_MIN=0
DATABASE_POOL_MAX=2
